<div class="timely ai1ec-calendar-toolbar ai1ec-clearfix">
	<ul class="ai1ec-nav ai1ec-nav-pills ai1ec-pull-left">
		{{ views_dropdown | raw }}
	</ul>
	<ul class="ai1ec-nav ai1ec-nav-pills ai1ec-pull-left ai1ec-filters">
		{{ categories | raw }}
		{{ tags | raw }}
	</ul>
  <div class="pull-right">
  	{{ contribution_buttons | raw }}
  </div>
</div>{# /.ai1ec-calendar-toolbar #}
